<div class="form-vet">

    <div class="form-patient__heading">
        <h3 class="title-task">{{task}} Veterinario</h3>
    </div>



        <form action="" [formGroup]="form" (ngSubmit)="addEmployee()" class="form">

            <input formControlName="name" type="text" class="form-control mt-3" placeholder="Nombre">      
            <input formControlName="email" type="email" class="form-control mt-3" placeholder="Correo electrónico">      
            <input formControlName="role" type="text" class="form-control mt-3" placeholder="rol">      
            <input formControlName="speciality" type="text" class="form-control mt-3" placeholder="speciality">      
            <input formControlName="phoneNumber" type="text" class="form-control mt-3" placeholder="telefono">  
            <input formControlName="password" type="text" class="form-control mt-3" placeholder="contraseña de acceso">   
            <input formControlName="userName" type="text" class="form-control mt-3" placeholder="Nombre de usuario">      
   
    


            <div class="d-flex justify-content-evenly    gap-2   mt-3">
                <button type="submit"  class="btn px-2 py-2 btn-success  text-white  "><span class="material-symbols-outlined">
                  check_box
                  </span></button>
              <button type="button" class="btn px-2 py-2 btn-danger" routerLink="/equipo"><span class="material-symbols-outlined">
                disabled_by_default
                </span></button>
              </div>
        </form>
</div>