<div class="team-container">

  <div class="team-content">
    <div class="team-content__heading">
      <h6 class="team-content__heading--title">Gestión de empleados</h6>
      <button class="team-content__heading--btn btn" type="button" routerLink="/crear-vet">Nuevo
        veterinario</button>

    </div>
    <div class="team-card__container">
      <div *ngFor="let employee of listEmployees" class="team-card">
        <div class="team-card__img ">
          <img src="{{employee.image}}" class=" " alt="person image">
          <div class="team-card__body">
            <h5 class="team-card__body--name">{{employee.name}}</h5>
            <p class="team-card__body--data"><span>Especialidad:</span> {{employee.speciality}}</p>

            <p class="team-card__body--data"> <span>Teléfono:</span> {{employee.phoneNumber}}</p>
            <p class="team-card__body--data"><span> Email:</span> {{employee.email}}</p>




          </div>
        </div>
        <div class="team-card__nav">
          <div class="team-card__nav--a">
            <a routerLink="/pacientes" class="btn btn-primary">Ver Pacientes</a>
            <a routerLink="/citas" class="btn btn-primary">Ver Citas</a>
          </div>

          <div class="team-card__btn">
            <button routerLink="/editar-vet/{{employee.id}}" type="button" class="btn btn-edit"><span
                class="material-symbols-outlined">
                edit_square
              </span></button>
            <button (click)="deleteEmployee(employee.id!)" type="button" class="btn btn-delete"><span
                class="material-symbols-outlined">
                delete
              </span></button>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
