<div  class="background p-5 w-100 h-100   bg-primary-subtle   ">
 
    <div class=" content w-50 mx-auto   h-100 rounded-3 shadow-lg  bg-white     ">
      <div class="text-primary d-flex pt-4 justify-content-center ">
        <span class="fs-3 material-symbols-outlined">
          sound_detection_dog_barking
          </span><h3 class="text-primary ">{{ task }} Paciente</h3>
      </div>
     
      <form [formGroup]="form" (ngSubmit)="addPatient()" class="p-3" >
        <input formControlName="name" type="text" placeholder="Nombre del paciente">      
        <small *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched" id="emailHelp">Introduce el nombre de la mascota</small>
       
  
         
       <div>
        
        <div>
          <input type="radio" formControlName="species"  value="Perro" >
          <label for="">Perro</label>
        </div>
        <div>
          <input type="radio" formControlName="species" value="Gato">
          <label for="">Gato</label>
        </div>
        <div>
          <input type="radio" formControlName="species" value="Ave">
          <label for="">Ave</label>
        </div>
        <div>
          <input type="radio" formControlName="species" value="Pez">
        <label for="">Pez</label>
        </div>
        <div>
          <input type="radio" formControlName="species" value="Tortuga">
          <label for="">Tortuga</label>
        </div>
        <div>
          <input type="radio" formControlName="species" value="Reptil">
          <label for="">Reptil</label>
        </div>
      
       
       
        
       
       
       </div>
         
        <input formControlName="race" type="text" placeholder="Raza">      
    
        <input formControlName="next_appointment" type="date" class="form-control mt-3" placeholder="Próxima cita">
        <input formControlName="owner" type="text" class="form-control mt-3" placeholder="Nombre del propietario">
        <small *ngIf="form.get('owner')?.hasError('required') && form.get('owner')?.touched" id="emailHelp" class="form-text text-muted">Introduce el nombre del propietario</small>
        <input formControlName="phoneNumber" type="number" class="form-control mt-3" placeholder="Teléfono de contacto">
        <input formControlName="email" type="email" placeholder="Email de contacto">
        <!-- <small *ngIf="form.get('email')?.hasError('required')&& form.get('email')?.touched" id="emailHelp" class="form-text text-muted">Introduce un email de contacto</small> -->
        <textarea name="" id=""></textarea>
        <div class="d-flex justify-content-evenly    gap-2   mt-3">
          <button type="submit"   [disabled]="form.invalid"  class="btn btn-edit "><span class="material-symbols-outlined">
            check_box
            </span></button>
        <button type="button" class="btn btn-show" routerLink="/"><span class="material-symbols-outlined">
          disabled_by_default
          </span></button>
        </div>
        </form>
    </div>
  </div>
  