  <div class="patient-detail__container">
    <a class="btn-return btn" routerLink="/pacientes"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
      </svg>&nbsp;Volver al listado de pacientes</a>
    <div class="patient-card " *ngFor="let pat of patient">




      <div style="text-align: center; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;" class="">
        <img style="text-align: center; margin-top: 50px;" class="" src='../../../assets/{{pat.species}}.png' alt="">
        <div class="btn-container" style="margin-top: 55px;"  >
          <button class="btn btn-date " (click)="openModal()" href="">Citar
            paciente</button>
          <a class="btn edit-a " href="" routerLink="/editar/{{pat.id}}">Editar
            ficha</a>
        </div>
      </div>
      <div class="patient-info">
      <div class="patient-data">
        <p class="fw-bold ">Nombre: <span class="fw-normal ">{{ pat.name }}</span></p>
        <p class="fw-bold ">Especie: <span class="fw-normal ">{{ pat.species }}</span></p>
        <p class="fw-bold ">Raza: <span class="fw-normal ">{{ pat.race }}</span></p>
        <p class="fw-bold ">Edad: <span class="fw-normal ">{{ pat.age }}</span></p>
        <p class="fw-bold ">Próxima cita:<span class="fw-normal ">{{ pat.next_appointment }}</span> </p>

      </div>


      <div class="owner-data ">
        <p class="fw-bold ">Propietario: <span class="fw-normal ">{{ pat.owner }}</span></p>
        <p class="fw-bold ">Email: <span class="fw-normal ">{{ pat.email }}</span></p>
        <p class="fw-bold ">Teléfono: <span class="fw-normal ">{{ pat.phoneNumber }}</span></p>
      </div>

      <div class="historic-data">
        <p class="fw-bold ">Últimas citas:</p>
        <div class="historic" *ngFor="let histor of historic">
          <ul>
            <li><a href="">{{histor}} </a><button routerLink="/" type="button" class="btn btn-show"><span
              class="material-symbols-outlined">
              visibility
            </span></button></li>
          </ul>


        </div>
      </div>
    </div>
      
    </div>

   


  </div>


